<div *ngIf="user" class="page-content">

<p class="message" *ngIf="message"> {{message}} </p>
<div class="new-card-info animated fadeInLeftBig">
  <h2> Enter Information </h2>
  <form #newCardInfo="ngForm" id="newCardInfo" (ngSubmit)="addCard(newCardInfo)">
  Name: <br>        <input type="text" name="fullName" ngModel><br>
  Company Name:<br>  <input type="text" name="companyName" ngModel><br>
  Position:  <br>    <input type="text" name="position" ngModel><br>
  Email:    <br>     <input type="email" name="email" ngModel><br>
  Phone#:   <br>     <input type="text" name="phoneNum" ngModel><br>
  Photo:    <br>
  <input type="file" accept="image/*" name="profilePic" ng2FileSelect [uploader]="imgUpload"><br>
  LinkedIn link:<br> <input type="text" name="linkedIn" ngModel><br>
  <button type="submit" class="btn btn-success"> Save </button>
  <button class="btn btn-warning" (click)="cancel()"> Cancel </button>
  </form>
  <qr-code  id="qr" class="hidden" [value]="user.linkedIn" size="120"></qr-code>
</div>

</div>
<!-- <textarea id="note" (blur)="hideNote(oneCard.id)" value="{{oneCard.description}}">Text Area</textarea>
<a (click)="addNote(oneCard.id)">Add Note</a>
<br> -->
  <!-- <qr-scanner
     [debug]="true"
     [canvasWidth]="300"
     [canvasHeight]="300"
     [mirror]="false"
     [stopAfterScan]="true"
     [updateTime]="500"
     (onRead)="decodedOutput()"></qr-scanner> -->
