<div *ngIf="user">

<p class="message" *ngIf="message"> {{message}} </p>
<div>
  <h2> Enter Information </h2>
  <form #newCardInfo="ngForm" id="new-card-info" (ngSubmit)="addCard(newCardInfo)">
  Name:         <input type="text" name="fullName" ngModel><br>
  Company Name: <input type="text" name="companyName" ngModel><br>
  Position:     <input type="text" name="position" ngModel><br>
  Email:        <input type="email" name="email" ngModel><br>
  Phone#:       <input type="text" name="phoneNum" ngModel><br>
  Photo:        <input type="file" accept="image/*" name="picture" ngModel><br>
  LinkedIn link:<input type="text" name="linkedIn" ngModel><br>
  <button id="add-card" type="submit"> Save </button>
  </form>
  <qr-code  id="qr" [padding]="10" [value]="user.linkedIn" size="120"></qr-code>
</div>

</div>
<!-- <textarea id="note" (blur)="hideNote(oneCard.id)" value="{{oneCard.description}}">Text Area</textarea>
<a (click)="addNote(oneCard.id)">Add Note</a>
<br> -->
  <!-- <qr-scanner
     [debug]="true"
     [canvasWidth]="300"
     [canvasHeight]="300"
     [mirror]="false"
     [stopAfterScan]="true"
     [updateTime]="500"
     (onRead)="decodedOutput()"></qr-scanner> -->
