@import url( 'https://fonts.googleapis.com/css?family=PT+Sans');
$font: 'PT Sans', sans-serif;
$bg: linear-gradient(to right, #E75A7C, #141B41);
$bg_wrapper: linear-gradient(to left, #306BAC, #141B41);
$black: #212129;

.share {
color: white;
font-size: 1.5em;
text-align: center;
margin-top: 0.5em;

i {
  border: 1px solid white;
  vertical-align: middle;
  border-radius: 3px;
}
}

.feed {

  h1 {
    text-align: center;
  }
}

.one-card {
  padding: 2em;

  .wrapper {
    width: 100%;
    background: $bg_wrapper;
    color: white;
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px 1px white;

    .image-wrapper img {
      width: 5em;
      border-radius: 50%;
    }

      .name {
        font-size: 1.5em;
        text-transform: capitalize;
      }

      .position-company {
        text-transform: capitalize;
        font-size: 1em;
        font-style: italic;
      }
    }
  }

  .on-off {
    display: inline-block;
    text-align: center;
    margin: 20px 0 0 10px;
  }

  .contact-info {
    img {
      margin: 15px 5px 0 0;
      width: 2em;
      height: 2em;
    }
  }

  .QRcode {
    display: none;
    width: 8em;
    height: 8em;
  }
