* {
  margin: 0;
  padding: 0;
}

// #qr {
//   text-align: center;
//   margin: 1em auto;
//   background: none;
// }
//
@import "../../assets/css/auth";

#badgePhoto {
  display: block;
  border-radius: 50%;
  width: 60%;
  height: 60%;
  margin: 1em auto;
}

#greeting {
  margin: 0.5em;
  color: white;
  h4 {
    text-align: center;
  }
  i {
    text-align: center;
    font-size: 0.8em;
  }
}

.page-content {
  width: 100%;
  box-sizing: border-box;

  .login-wrap {
    animation-duration: 1s;
    padding-top: 5em;
    margin: 0 auto;
    width: 20em;
  }

  .strokes {
    text-align: center;
    width: 100%;
  }

  .auth-form {
    text-align: center;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: white;

    button {
      margin-top: 0.5em;
      font-weight: bold;
      text-transform: uppercase;
    }

    button,
    img {
      border-bottom: 2px solid white;
      width: 100%;
      height: 2em;
    }

  }
}

,
.email,
.password {
  width: 100%;
  height: 2em;
  border: none;
  display: inline-block;
  border-bottom: 1px solid white;
  background: none;
}

a,
a:hover {
  text-transform: uppercase;
  text-decoration: none;
  color: white;
}

//loginToggle related things
.navbar-inverse {
  border-radius: 5px;
  a {
    padding: 1em 0 1em 0;
    display: block;
   text-align: center;
  }
}

.navbar {
  .glyphicon {
    vertical-align: super;
    color: white;
    font-size: 1.5em;
  }
}

.inversed-li {
  background-color: white;
  i {
    color: black;
  }
}

.email-login,
.linkedin-login,
.pattern-login,
.signup-login {
  display:none;
  width: 100%;
  height: 100%;
  padding: 1em;
}

.email-login {
  .glyphicon {
    vertical-align: -webkit-baseline-middle;
    color: grey;
    font-size: 1.5em;
  }
}

.linkedin-login img {
  width: 100%;
  height: 3em;
}

.signup-login {
  h4 {
    margin-bottom: 0.5em;
  }
  color: white;
  button, label, input {
    border: none;
    width: 100%;
  }
  button, input {
    margin-top: 0.5em;
    border-bottom: 2px solid white;
  }
  input {
    background: none;
  }
  button {
    text-transform: uppercase;
    font-weight: bolder;
    padding: 0.5em;
  }
}
