@import "../../assets/templates/sarah-nohe";

$bg: linear-gradient(to bottom right, rgb(69, 6, 98) , rgb(30, 66, 91));

.sarah-nohe {
  display:none;
}

* {
  margin: 0;
  padding: 0;
}

i {
  font-size: 2em;
  float: right;
  color: white;
}

// .expand-contact {
//   margin: -1em auto;
//   text-align: center;
//   width:90%;
//   height: 100%;
//   background: none;
//   border: none;
//   i {
//     text-align: center;
//     font-size: 1em;
//     color: white;
//     transform: rotate(180deg);
//   }
// }

button {
  // padding: 0.2em;
  display:inline-block;
  width: 47%;
  text-transform: uppercase;
  font-weight: bolder;
  margin-top: 0.2em;
}

textarea {
  width: 100%;
  height: 70%;
  background: rgb(233, 201, 89);
  color: rgb(58, 121, 15);
}

.card-container {
  perspective: 800px;
}

.card {

  #editContactIcon {
    color: rgb(233, 201, 89);
    float: left;
  }
  #deleteContactIcon {
    color: rgb(191, 14, 14);
    float: right;
  }
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.card li {
  backface-visibility: hidden;
}

.back {
    position: absolute;
    top: 0;
    left: 1em;
}

.card .back {
  transform: rotateY( 180deg );
}

.flipped {
  transform: rotateY( 180deg );
}

.search {
  margin: 1em 0 1em 0;
  #searchInput {
    font-size: 1.3em;
    font-style: italic;
    color:white;
    background: none;
    border:none;
    border-bottom: 1px solid white;
    width: 100%;
  }
}

ul {
  li {
    margin: 1em auto;
    width: 80%;
    height: 80%;
  background: $bg;
  padding: 0.5em;
  box-shadow: 0 0 10px 5px white;
}
}

.contact-image {
  border-radius: 50%;
  img {
    margin: 0 auto;
    display: block;
    border-radius: 50%;
    width: 4em;
    height: 4em;
  }
}

.full-name {
    text-decoration: underline;
    margin-top: 0.5em;
    color: white;
    font-weight: bolder;
    text-align: center;
}
