<div class="page-content">

<div class="search">

<h4><i class="material-icons">search</i> Search </h4>

</div>

<p *ngIf="message" class="message animated fadeInLeft"><p>

<div class="container">

<div class="sarah-nohe">

<div class="name">

<h2> Sarah Nohe </h2>
<hr>
<h4> UX Research and Design </h4>

</div>

<div class="contact-info">

<a class="email" href="mailto:sarahnohe@gmail.com">sarahnohe@gmail.com</a>
<br>
<a class="telephone" href="tel:7817107123">781.710.7123</a>
</div>

</div>

</div>
  <!-- <div *ngFor="let oneCard of contacts">

  </div> -->

</div>
