
* {
  margin: 0;
  padding: 0;
}

@import "../assets/css/auth";

#pageContent {
  width: 100%;
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  box-sizing: border-box;
  .card-holder-wrap {
    // width: 100%;
  }
  .login-wrap {
    animation-duration: 1s;
    padding-top: 10em;
    margin: 0 auto;
    width: 20em;
  }
  .login-form-wrap {
    margin: 0 auto;
    height: 25em;
  }
  .auth-form {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    color: white;
    // padding-top: 3em;
    button {
      margin-top: 0.5em;
      font-weight: bold;
      text-transform: uppercase;
    }
   img,
   button {
     border-bottom: 2px solid white;
     width: 13em;
     height: 2em;
   }
   #or {
    //  display: inline;
     text-align: center;
     margin: 0.5em 0;
     font-weight: bolder;
   }
  }
}

#logo {
  color: white;
  // text-align: center;
  margin: 2.5em;
}

.glyphicon {
  vertical-align: -webkit-baseline-middle;
  color: grey;
  font-size: 1.5em;
}

.email,
.password, {
  height: 2em;
  border: none;
display: inline-block;
border-bottom: 1px solid white;
background: none;

}


.footer,
.header,
 {
  width: 100%;
  background-color: #111;
}

.footer {
  margin-bottom: -4px;
}

  a,
  a:hover {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
  }

  li {
    padding: 15px 15px;
    margin: 0;
    text-align: center;
  }


#loginForm {
  input {
    border: 1px solid red;
    border-radius: 3px;
  }
}
/* The side navigation menu */
.sidenav {
  // display: none;
  padding-top: 50px;
  width: 0px;
  height: 100%;
  position: fixed;
  z-index: 1;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.6s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 12px;
    }
  }
}
