* {
  margin: 0;
  padding: 0;
}

.footer,
.header {
  width: 100%;
  background-color: #111;
}

.footer {
  margin-bottom: -4px;
}

a,
a:hover {
  color: white;
  text-decoration: none;
}


li {
  list-style-type: none;
  padding: 15px;
  margin: 0;
  text-align: center;
}



/* The side navigation menu */
.sidenav {
  padding-top: 50px;
  width: 0;
  height: 100%;
  position: fixed;
  z-index: 100;
  /* Stay on top */
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  /* Disable horizontal scroll */
  transition: 0.6s;

  a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: bolder;
    text-transform: uppercase;
    display: block;
  }
}

.logo {
  font-size: 1.5em;
  text-transform: none;
  font-weight: bolder;
}
/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;

    a {
      font-size: 12px;
    }
  }
}
