  <h1>
    Welcome to {{title}}!
  </h1>
  <h2> You are home :) </h2>

<ul>
  <li>
  <a [routerLink]="['']">Home</a>
</li>
  <li>
  <a [routerLink]="['contacts']">Contacts</a>
</li>
<li>
  <a [routerLink]="['profile']">Profile</a>
</li>
  <li>
  <a [routerLink]="['about']">About</a>
</li>
  <li>
<a [routerLink]="['signup']">SignUp</a>
</li>
<li>
<a [routerLink]="['login']">Login</a>
</li>
</ul>

<router-outlet></router-outlet>

<form #loginInfo="ngForm" id="loginForm" (ngSubmit)="login(loginInfo)">
<h2> Login </h2>
<label for id="login-email"> Email </label>
<input id="login-email" type="email" name="loginEmail" ngModel>
<br>
<label for id="login-password"> Password </label>
<input id="login-password" type="password" name="loginPassword" ngModel>
<br>
<button> Login </button>
</form>

<p class="error"> {{ error }} </p>

<div *ngIf="user">
  <h2> You are now logged in as {{ user.fullName }}!! </h2>
  <p> Here's the user object </p>
  <pre> {{ user | json }} </pre>

  <button (click)="logout()"> logout </button>
</div>
