<!-- <router-outlet></router-outlet> -->
<div *ngIf="user" class="page-content">



<p *ngIf="message" class="message animated fadeInLeft"></p>

<ul class="links">
  <!-- <p *ngIf="message" class="message animated fadeOut"> {{message}} </p> -->
  <li class="add-card">
  <img src="../assets/images/add.png">
  <a [routerLink]="['add-card']">Add Card </a>
</li>
  <!-- <span class="glyphicon glyphicon-plus-sign"></span> -->
  <li class="purchase-template">
    <img src="../assets/images/shop.png">
  <a href="https://store.cxc.com"> Purchase template </a>
</li>
  <!-- <span class="glyphicon glyphicon-shopping-cart"></span> -->
</ul>

 <div *ngIf="cards" class="cards">
  <div *ngFor="let oneCard of cards" class="row one-card">
    <div class="col-xs-9" >
      <div id="oneCard" class="wrapper">
        <div class="row">
          <div class="col-xs-4 image-wrapper">
            <img src="../../assets/images/default-pic.png" alt="{{oneCard.fullName}}" >

          </div>
          <div class="col-xs-8 information">
            <p class="name">{{oneCard.fullName}}</p>
            <p class="position-company">{{oneCard.position}}</p>
            <p class="position-company">{{oneCard.companyName}}</p>

          </div>
            </div>
<div class="row">
<div class="col-xs-4">

  <div class="outer-switch" (click)="toggleDefault(oneCard._id)">
  <div id="switch{{oneCard._id}}" class="inner-switch" (click)="toggleDefault(oneCard._id)">
   <span id="switchLabel{{oneCard._id}}" class="switch-label">OFF</span>
  </div>
  </div>
  <!-- <a (click)="makeDefault(oneCard._id)" class="default"> Make <br> Default? </a> -->
 </div>
<div class="col-xs-8">
  <p class="contact-info">
    <a *ngIf="oneCard.email"    href="mailto:{{oneCard.email}}"><img src="../../assets/images/email.png"></a>
    <a *ngIf="oneCard.phoneNum" href="tel:{{oneCard.phoneNum}}"><img src="../../assets/images/call.png"></a>
    <a *ngIf="oneCard.linkedIn" href="{{oneCard.linkedIn}}" target="_blank"><img src="../../assets/images/linkedin.png"></a>
    <a (click)="enlargeQr(oneCard._id)" id="QR{{oneCard._id}}" class="QRicon"><img src="../../assets/images/qrcode.png"></a>
  </p>
    <div (click)="enlargeQr(oneCard._id)" id="QR2{{oneCard._id}}" class="QRcode"></div>
  </div>
</div>
<div id="editForm{{oneCard._id}}" class="edit-form">

  <form #editInfo="ngForm" id="editInfo" (ngSubmit)="saveChanges(oneCard._id, editInfo)">
  <label for id="editedFullName"> Full Name </label>
  <br>
  <input id="editedFullName" maxlength="16" type="text" name="fullName" placeholder="{{oneCard.fullName}}" ngModel>
  <br>
  <label for id="editedCompanyName"> Company Name </label>
    <br>
  <input id="editedCompanyName" maxlength="16" type="text"  name="companyName" placeholder="{{oneCard.companyName}}" ngModel>
  <br>
  <label for id="editedPosition"> Position </label>
    <br>
  <input id="editedPosition" type="text" maxlength="12" name="position" placeholder="{{oneCard.position}}" ngModel>
  <br>
  <label for id="editedEmail"> Email </label>
    <br>
  <input id="editedEmail" type="email" name="email" placeholder="{{oneCard.email}}" ngModel>
  <br>
  <label for id="editedPhoneNum"> Phone# </label>
    <br>
  <input id="editedPhoneNum" type="number" name="phoneNum" placeholder="{{oneCard.phoneNum}}" ngModel>
  <br>
  <label for id="editedlinkedIn"> LinkedIn </label>
    <br>
  <input id="editedlLinkedIn" type="text" maxlength="30" name="linkedIn" placeholder="{{oneCard.linkedIn}}" ngModel>
  <br>
  <button class="btn btn-success"> Save </button>
  <button class="btn btn-warning" (click)="cancelEdit(oneCard._id)"> Cancel </button>
  </form>


</div>
  </div>
  </div>
        <div class="col-xs-3 controls">
          <a (click)="editCard(oneCard._id)">
            <span><i class="glyphicon glyphicon-pencil"></i></span>
          </a>
          <br>
          <br>
          <br>
          <a (click)="deleteCard(oneCard._id)">
            <img src="../assets/images/trash.png">
          </a>

          <br>
        </div>
  </div>
</div>

</div>
