@import url( 'https://fonts.googleapis.com/css?family=PT+Sans');
$font: 'PT Sans', sans-serif;
$bg: linear-gradient(to right, #E75A7C, #141B41);
$bg_wrapper: linear-gradient(to left, #306BAC, #141B41);
$black: #212129;
// on/off switch

// .toggleOn{
//
// }

.outer-switch {
  margin-top: 20px;
  border-radius: 20px;
  width: 60px;
  height: 20px;
  background: rgb(135, 132, 128);
  .inner-switch {
    padding: 5px;
    float:left;
    width: 25px;
    height: 20px;
    border-radius: 50%;
    background: red;
    transition: float 0.9s ;
  }
  .switch-label {
    text-transform: uppercase;
    text-align: center;
    font-weight: bolder;
    font-size: 0.7em;
    vertical-align: top;
  }
}


.default {
  color: white;
  text-align: center;
  font-weight: bolder;
}

* {
  margin: 0;
  padding: 0;
  font-family: $font;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.profile {
  width: 100%;
  height: 100%;
}

.links {
padding: 1em 0 0 1em;
li {
  margin: 0.5em;
}
  a {
    color: white;
    text-decoration: underline;
    font-size: 1.5em;
  }
  img {
    width: 1.5em;
    height: 1.5em;
    vertical-align: text-bottom;
  }
  }


.one-card {
  margin: 1em 0;

  .wrapper {
    width: 100%;
    background: $bg_wrapper;
    color: white;
    margin-left: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 50px 1px white;

    .image-wrapper img {
      width: 5em;
      border-radius: 50%;
    }

      .name {
        font-size: 1.5em;
        text-transform: capitalize;
      }

      .position-company {
        text-transform: capitalize;
        font-size: 1em;
        font-style: italic;
      }
    }
  }

  .default {
    display: inline-block;
    text-align: center;
    margin: 20px 0 0 10px;
  }

  .contact-info {
    img {
      margin: 15px 5px 0 0;
      width: 2em;
      height: 2em;
    }
  }

  .controls {
    text-align: center;
    padding-left: 0.5em;
    img {
      width: 3em;
      height: 4em;
    }
    i {
      transform: rotate(110deg);
      color: white;
      font-size: 3.5em;
    }
  }

.edit-form {
    display: none;
    border-radius: 5px;
    height: 100%;
    input {
      height: 2.5em;
      background: none;
      border: none;
      color: red;
      border-bottom: 2px solid white;
    }
    button {
      display:inline-block;
      width: 5em;
      text-transform: uppercase;
      font-weight: bolder;
      margin-top: 0.5em;
    }
}

.QRcode {
  margin: 1em 0 1em 0;
  display: none;
  width: 8em;
  height: 8em;
}
