
  <h1> Your Cards </h1>
  <a [routerLink]="['add-card']">Add Card</a> |
  <a href="#"> Purchase template </a>

  <p *ngIf="message" class="message"> {{message}} </p>

 <div *ngIf="cards" class="cards">
  <div *ngFor="let oneCard of cards" class="row one-card">
    <div class="col-xs-9" >
      <div id="oneCard" class="wrapper">
        <div class="row">
          <div class="col-xs-4 image-wrapper">
            <img src="//cdn0.iconfinder.com/data/icons/user-pictures/100/male-256.png" alt="{{oneCard.fullName}}" />

          </div>
          <div class="col-xs-8 information">
            <p class="name">{{oneCard.fullName}}</p>
            <p class="position-company">{{oneCard.position}} at
            {{oneCard.companyName}}  </p>

          </div>
            </div>
<div class="row">
<div class="col-xs-4">
    <a (click)="onOffSwitch(oneCard._id)" class="on-off"> ON/OFF </a>
 </div>
<div class="col-xs-8">
  <p class="contact-info">
    <a *ngIf="oneCard.email"    href="mailto:{{oneCard.email}}"><img src="../../assets/email.png"></a>
    <a *ngIf="oneCard.phoneNum" href="tel:{{oneCard.phoneNum}}"><img src="../../assets/call.png"></a>
    <a *ngIf="oneCard.linkedIn" href="{{oneCard.linkedIn}}" target="_blank"><img src="../../assets/linkedin.png"></a>
    <a (click)="enlargeQr(oneCard._id)" id="QR{{oneCard._id}}" class="QRicon"><img src="../../assets/qrcode.png"></a>
      <br>
    <a (click)="enlargeQr(oneCard._id)" id="QR2{{oneCard._id}}" class="QRcode"></a>
  </p>
</div>
</div>
<div id="editForm{{oneCard._id}}" class="edit-form">

  <form #editInfo="ngForm" id="editInfo" (ngSubmit)="saveChanges(oneCard._id, editInfo)">
  <label for id="editedFullName"> Full Name </label>
  <br>
  <input id="editedFullName" maxlength="16" type="text" name="fullName" placeholder="{{oneCard.fullName}}" ngModel>
  <br>
  <label for id="editedCompanyName"> Company Name </label>
    <br>
  <input id="editedCompanyName" maxlength="16" type="text"  name="companyName" placeholder="{{oneCard.companyName}}" ngModel>
  <br>
  <label for id="editedPosition"> Position </label>
    <br>
  <input id="editedPosition" type="text" maxlength="12" name="position" placeholder="{{oneCard.position}}" ngModel>
  <br>
  <label for id="editedEmail"> Email </label>
    <br>
  <input id="editedEmail" type="email" name="email" placeholder="{{oneCard.email}}" ngModel>
  <br>
  <label for id="editedPhoneNum"> Phone# </label>
    <br>
  <input id="editedPhoneNum" type="number" name="phoneNum" placeholder="{{oneCard.phoneNum}}" ngModel>
  <br>
  <label for id="editedlinkedIn"> LinkedIn </label>
    <br>
  <input id="editedlLinkedIn" type="text" maxlength="30" name="linkedIn" placeholder="{{oneCard.linkedIn}}" ngModel>
  <br>
  <button> Save </button>
  </form>
  <button (click)="cancelEdit(oneCard._id)"> Cancel </button>

</div>
  </div>
  </div>
        <div class="col-xs-3 controls">
          <a (click)="editCard(oneCard._id)">Edit</a>
          <br>
          <a (click)="deleteCard(oneCard._id)">Delete</a>
          <br>
        </div>
  </div>
</div>
